sample.cur
*.o
*.pyc
*.gv
*_f
out_*.png
/third_party
/2019/*/intcode.py
/2019/18/map.py
/2019/*/tools
/2020/*/intcode.py
/2020/*/tools
/2020/*/Makefile
/2023/*/tools
/2023/*/input.txt
/2023/04/BUILD
/2023/04/WORKSPACE
/2024/*/Makefile
/2024/*/tools
/2024/*/input.txt
/2025/*/Makefile
/2025/*/tools
/2025/*/input.txt
